body {
  background-color: lightgray;
  font-family: helvetica, sans-serif;
}

#app-container {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
}

#map-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.root .finding-places {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  font-size: 24px;
  left: 50%;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.root .finding-location {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  font-size: 24px;
  left: 50%;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.place-contender .image {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  height: 240px;
  left: 0;
  line-height: 240px;
  padding: 4px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 320px;
}

.place-contender .name {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  left: 332px;
  padding: 4px;
  position: absolute;
  top: -17px;
  max-width: 512px;
}

.place-contender .description {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 288px;
  max-width: 512px;
}

.place-contender .address {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 256px;
}

.place-contender .priciness {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  left: 332px;
  padding: 4px;
  position: absolute;
  top: 226px;
  width: 64px;
}

.place-contender .rating {
  background-color: white;
  box-shadow: 0px 0px 16px lightgrey;
  left: 332px;
  padding: 4px;
  position: absolute;
  top: 192px;
}

.place-contender .question {
  background-color: white;
  bottom: 4px;
  box-shadow: 0px 0px 16px lightgray;
  font-size: 24px;
  left: 321px;
  padding: 16px;
  position: absolute;
}

.place-contender .no-button {
  background-color: red;
  bottom: 4px;
  box-shadow: 0px 0px 16px lightgray;
  color: white;
  cursor: pointer;
  font-size: 24px;
  left: 776px;
  padding: 16px;
  position: absolute;
  text-align: center;
}

.place-contender .yes-button {
  background-color: green;
  bottom: 4px;
  box-shadow: 0px 0px 16px lightgray;
  color: white;
  cursor: pointer;
  font-size: 24px;
  left: 540px;
  padding: 16px;
  position: absolute;
  text-align: center;
  height: 28px;
}
